/* .nav-link:hover {
  background-color: rgb(171, 182, 194);
} */

.mt-7 {
  margin-top: 70px;
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.default-text-color {
  color: rgba(255, 255, 255, 0.75);
}

.nav-active {
  color: #fff;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.75);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.sloganHome {
  align-items: center;
  font-size: 5rem;
}

.sloganAboutUs {
  align-items: center;
  font-size: 7rem;
}

.sloganServices {
  align-items: center;
  font-size: 9rem;
}

.home,
.about,
.services {
  min-height: 100vh;
}
.home div {
  line-height: 6rem;
}

.wrapper0,
.wrapper1,
.wrapper2,
.card0,
.card1,
.card2 {
  height: 300px;
  width: 300px;
  margin: auto;
  position: relative;
}
.wrapper0,
.wrapper1,
.wrapper2 {
  perspective: 1000px;
}

.card0,
.card1,
.card2 {
  text-align: center;
  transition: all 1.5s cubic-bezier(0.7, -0.5, 0.3, 1.8);
  transform-style: preserve-3d;
}

.wrapper0:hover .card0,
.wrapper1:hover .card1,
.wrapper2:hover .card2 {
  transform: rotateY(180deg);
}

.front,
.back {
  width: 300px;
  position: relative;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.front {
  cursor: pointer;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 50px;
  background-position: center center;
  background-size: contain;
}

.front img {
  width: 100%;
}

.back {
  transform: rotateY(180deg);
  position: absolute;
  border-radius: 50px;
  height: 450px;
}

#mobile {
  display: none;
}

@media screen and (max-width: 992px) {
  #navigation{
    display: flex;
    flex-direction: row;
  }
  #navigation .nav-item {
    padding: 0 10px;
  }
}

@media screen and (max-width: 768px) {
  #navigation{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 56px;
    right: -300px;
    width: 300px;
    height: 100vh;
    background: rgb(29, 87, 145);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 20px 0 0 20px;
    transition: 0.3s ease-in-out;
  }
  #navigation.active {
    right: 0;
  }
  #mobile {
    display: block;
  }
  #mobile i {
    font-size: 24px;
    cursor: pointer;
  }
}