/* career style */
* {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* ============= window1 ============ */
.mainbg1 {
  background-image: url(./components/careerUs/img/bg2.png);
  background-size: cover;
  max-height: 80vh;
  padding-top: 0%;
  border: 0;
  margin: 0;
  

}
.headerCC {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 5px 0px 5px; 
  min-height: 100vh;
  line-height: 6rem;
 
}
.header1 {
  font-size: 4.5em;
  color: #FCF8E8;
  
}
.spn1{
  color: #E8FFCE;
}
.header2 {
  
  display: flex;
  flex-direction: column;
  color: #FCF8E8;
}
.imgCC {

  height: 90vh;

}
 /* ============== window2 ============= */
 .mainbg2 {
   background-image: url(http://bannerassociates.com/images/uploads/Edited_Career.jpg); 
  /* background-image: url(./components/careerUs/img/bg3.png); */
  background-size: cover;
  padding-top: 45px;
 

}
/* .imgCC2 {
  height: 60vh;
  position: absolute;
  width: 50%;
  padding: 0 0 0 5px;
  
} */
/* .IconC{
  height: 20px;
  width: 70%;
} */
.btnAdd {
  background-color: #35A29F;
  border-radius: 7px 7px 7px 7px;
  width: 30%;
  font-size: 1.5em;
}
.btnAdd:hover{
  background: #05BFDB;
}
.swiperCCard{
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 70vh;
  width: 190%;
}


/* ============ CareerCard ============= */
.btnApply {
  background: #35A29F;
  color: #E3F2C1;
}
.btnUpdate {
  background: #9BA4B5;
  color: #E3F2C1;
}



